extends layout 


block conteudo 
    #biografia
        img(src="img/Arthur1.jpeg", alt="Foto do Arthur")   
        h2 Arthur Barros 
        h1 Biografia:
        p Nascido em 15 de julho de 2001, Arthur Augusto Marques Barros, natural de Cuiabá-MT, filho de Jorenil Marques e Rodemilson Barros, viveu por volta de 12 anos na cidade de Poconé-MT. Cresceu nessa cidade morando com o seu Pai, lá aprendeu a jogar futebol um dos seus maiores hobbies favoritos. Tinha muitos amigos, estudou o ensino fundamental na E.E Caetano, e foi lá que adquiriu os principais conhecimentos para o princípio da vida de um adolescente. E aos finais de semana Arthur iria para Cuiabá, onde passava o seu tempo de lazer com a sua mãe. Os seus pais viveram por cerca de 20 anos juntos, e separaram  nas circustâncias do tempo. Então, Arthur procurou dividir o seu tempo entre ambos. 
        p Aos 15 anos ele, foi para a cidade de Bonito-MS, morar com a sua irmã, que ali residia com a sua família. Conheceu pessoas importantes nas quais contribuiram muito com o seu crescimento pessoal. Foi ali que teve a oportunidade do seu primeiro emprego adquiriu experiências para que mais tarde pudesse fazer parte de uma grande equipe de trabalho em uma empresa de atrativo turístico. O seu crescimento profissional foi notavél por todos que admiravam.  
        p O seu ensino médio foi concluído, com grande suceesso em 2018, devido a este sucesso que ingressou no ano seguinte no Instituto Federal do Estado Matogrosso do Sul, para o curso Tecnologia em Sistemas para Internet, na cidade de Aquidauana-MS, o interesse para este curso foi devido um hobbie que inicioi em sua adolescência e aprimorou com os anos o seu hobbie de jogos eletrônicos que fez então dispertar o seu futuro profissional. Hoje Arthur cursa o seu 3º semestre, no IFMS campus Aquidauana, faz participações em grandes projetos, dedica o seu tempo entre os estudos e criação de aplicativos, claro não deixando de lado seu futebol. 
        
    