extends layout 


block conteudo 
    .contato
        h2 Contatos:
        #facebook
            a( target='_blank' href="https://www.facebook.com/arthur.barros.54922/")
                img(src="img/facebook.png", alt="") 
        #alinhar
            p Arthur Barros

        #whats
            img(src="img/whatsapp.png", alt="Whatsapp")
        #alinhar
            p (67) 99334-9936

        #insta
            a( target='_blank' href="https://www.instagram.com/arthur_barros_/")
                img(src="img/instagram.png", alt="Instagram") 
        #alinhar
            p @arthur_barros_

        #email
            img(src="img/email.png", alt="E-mail")
        #alinhar
            p barrosarthur773@gmail.com 