extends layout 


block conteudo 

    .imgFut
        
    .home
        h2 Bem vindo !!
            p  Site desenvolvido com o intuito de conhecer um pouco mais a história do Arthur Barros, contendo a sua biografia, portfólio e contato, para mais informações segue as páginas.