extends layout 


block conteudo 

    #portfolio
        #algebra
            img(src="img/algebranova.JPG", alt="algebra linear")
            p Descrição: Projeto desenvolvido para a faculdade, envolvendo três matérias, um trabalho multidisciplinar, com intuito de mostrar os conhecimentos adquiridos.

        #super
            img(src="img/super.JPG", alt="Site realizado para um trabalho da faculdade")
            p Descrição: Projeto desenvolvido para a disciplina de Construção de páginas Web, envolvendo a empresa SuperBike, onde contém o catálogo, sobre é uma página de boas vinda.

    #portfolio1  
        #compra
            img(src="img/compra.JPG", alt="Site realizado para um trabalho da faculdade")
            p Descrição: Projeto desenvolvido para avaliação da disciplina Construção de páginas Web, um site sobre lista de compras para realizar no supermercado.

        #mergeSort
            img(src="img/mergeSort.JPG", alt="Video realizado para a disciplina de estrutura de dados")
            p Descrição: Aula de 5 minutos desenvolvida para atividade da disciplina Estrutura de dados, sobre o algoritmo MergeSort. 