@font-face {
  font-family: 'padrao';
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'negrito';
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: 'decorativa';
  src: url(../fonts/BowlbyOneSC-Regular.ttf); }

body {
  margin: 0; }

#banner {
  background-color: #81cfe0;
  color: white;
  text-align: center;
  padding: 20px 0px 10px 0px; }
  #banner h1 {
    font-family: "decorativa";
    font-size: 250%;
    text-shadow: 1px 1px black; }
  #banner p {
    font-family: "negrito"; }

#imgFut {
  background-image: url(../img/Arthur.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #777777; }

#home {
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  box-shadow: 5px 5px 10px #777777;
  font-family: "padrao";
  text-align: center;
  font-size: 100%; }

#centro {
  display: inline;
  font-family: "padrao"; }

#menu {
  background-color: #22313f;
  color: white;
  padding: 20px 0px 10px 20px;
  text-align: center; }
  #menu ul {
    list-style: none;
    padding-left: 0; }
    #menu ul a {
      text-decoration: none;
      color: white; }
      #menu ul a:hover {
        color: #c5eff7; }
    #menu ul li {
      margin-bottom: 7px;
      display: inline;
      padding: 20px;
      font-size: 100%; }

#conteudo {
  padding: 10px; }

#biografia {
  text-align: justify;
  box-shadow: 5px 5px 10px #777777;
  border-radius: 5px;
  text-align: center; }
  #biografia p {
    text-align: left;
    text-align: justify;
    font-family: "padrao";
    font-size: 100%;
    padding: 10px; }
  #biografia h1 {
    font-size: 100%;
    text-align: left;
    padding: 10px; }
  #biografia h2 {
    font-size: 100%; }
  #biografia img {
    width: 20%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #777777;
    margin: 10px; }

#portfolio {
  margin-top: 20px;
  font-family: "negrito";
  text-align: justify; }
  #portfolio #algebra {
    display: table-cell;
    padding: 10px; }
    #portfolio #algebra img {
      min-height: 100%;
      box-shadow: 5px 5px 10px #777777;
      min-width: 100%;
      max-width: 50%; }
  #portfolio #super {
    display: table-cell;
    padding: 10px; }
    #portfolio #super img {
      min-height: 100%;
      box-shadow: 5px 5px 10px #777777;
      min-width: 100%;
      max-width: 100%; }

#portfolio1 {
  margin-top: 20px;
  margin-bottom: 10px; }
  #portfolio1 #compra {
    display: table-cell;
    padding: 10px;
    font-family: "negrito"; }
    #portfolio1 #compra img {
      min-height: 153%;
      box-shadow: 5px 5px 10px #777777;
      min-width: 100%;
      max-width: 100%; }
  #portfolio1 #mergeSort {
    display: table-cell;
    padding: 10px;
    font-family: "negrito";
    width: 50%; }
    #portfolio1 #mergeSort img {
      min-height: 100%;
      box-shadow: 5px 5px 10px #777777;
      min-width: 100%;
      max-width: 100%; }

.contato {
  font-family: "negrito";
  box-shadow: 5px 5px 10px #777777;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .contato #facebook, .contato #whats, .contato #insta, .contato #email {
    display: table-cell; }
  .contato #alinhar {
    display: table-cell;
    vertical-align: middle;
    padding: 20px; }

#rodape {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  font-size: 80%;
  font-family: "negrito"; }

@media only screen and (max-device-width: 600px) {
  #banner {
    width: 100%; }
    #banner h1 {
      font-size: 350%; }
    #banner p {
      font-family: "negrito";
      font-size: 150%; }
  #home {
    font-size: 80%;
    margin: 15px; }
  #menu ul li {
    font-size: 200%; }
  #conteudo {
    margin: 20px; }
  #biografia {
    width: 100%;
    text-align: center;
    padding: 0px; }
    #biografia p {
      text-align: left;
      text-align: justify;
      font-family: "padrao";
      font-size: 80%;
      padding: 15px; }
    #biografia h1 {
      font-size: 80%;
      text-align: left;
      padding: 10px; }
    #biografia h2 {
      font-size: 80%; }
    #biografia img {
      width: 30%;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #777777; }
  .contato {
    text-align: center; }
    .contato h2 {
      font-size: 200%; }
    .contato #facebook, .contato #whats, .contato #insta, .contato #email {
      display: block;
      text-align: center;
      width: 100%; }
    .contato #alinhar {
      display: block;
      text-align: center;
      font-size: 200%; }
  #portfolio {
    font-size: 80%; }
    #portfolio #algebra {
      margin: auto;
      display: block; }
      #portfolio #algebra img {
        box-shadow: 5px 5px 10px #777777;
        min-width: 100%;
        max-width: 50%; }
    #portfolio #super {
      display: block;
      margin: auto; }
      #portfolio #super img {
        min-width: 100%;
        max-width: 100%; }
  #portfolio1 {
    font-size: 80%; }
    #portfolio1 #compra {
      display: block;
      margin: auto; }
      #portfolio1 #compra img {
        min-height: 153%;
        box-shadow: 5px 5px 10px #777777;
        min-width: 100%;
        max-width: 100%; }
    #portfolio1 #mergeSort {
      margin: auto; }
      #portfolio1 #mergeSort p {
        font-size: 300%; }
      #portfolio1 #mergeSort img {
        min-height: 100%;
        box-shadow: 5px 5px 10px #777777;
        min-width: 100%; }
  #rodape {
    padding: 20px;
    font-size: 150%; } }
